html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#webcamVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}
#phaserContainer > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: transparent;
}
